<app-preloader [loading]="submitted"></app-preloader>
<div class="row space-top">
    <div class="col-md-12">
        <h1>Welcome to Budget Planner</h1>
    </div>
</div>
<div class="row space-top ">
    <div class="col-md-12 ">
        <div class="card bg-secondary">
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <h2 id="month">{{numberToMonth(month)}} {{year}}</h2>
                    <div class="row">
                        <div class="col-md-3 space-top">
                            <app-planner-form></app-planner-form>
                        </div>
                        <div class="col-md-8 space-top">
                            <app-expense-list></app-expense-list>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
