<app-preloader [loading]="submitted"></app-preloader>
<div class="row">
    <h4 class="col-md-9">Expenses</h4>
    <a routerLink="/monthly-balance/{{year}}/{{month}}/add-expenses" class="nav-link btn btn-secondary ml-2 mb-2">Add expenses</a>
</div>
<table *ngIf="model.expenses" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Cost</th>
            <th>Payment Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of model.expenses">
            <td>{{expense.name}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.amount.toFixed(2)}}</td>
            <td>{{expense.date}}-{{expense.month}}-{{expense.year}}</td>
            <td>
                <a href="#" (click)="onDelete($event, expense)" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
    </tbody>
</table>