<div class="row space-top">
    <div class="col-md-12">
        <h1>Login</h1>
    </div>
</div>
<form (submit)="login($event)">
    <div class="row space-top">
        <div class="col-md-3">
            <div class="form-group">
                <label for="email" class="form-control-label">E-mail</label>
                <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" placeholder="E-mail" />
            </div>
            <div class="form-group">
                <label for="password" class="form-control-label">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" />
            </div>
            <input type="submit" class="btn btn-secondary" value="Login" />
        </div>
    </div>
</form>
